@model Site.Models.ITaskListViewModel
@{
    ViewData["Title"] = "Tasks";
}

<div>
    <h1 class="display-4 text-center">Tasks</h1>

    <ul class="list-group">
        @if (Model.Tasks.ToList().Count > 0) {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2">
                        <span><b>Name</b></span>
                    </div>
                    <div class="col-2">
                        <span><b>AverageTime</b></span>
                    </div>
                    <div class="col-7">
                        <span><b>Author</b></span>
                    </div>
                </div>
            </li>
        }

        @foreach (var task in Model.Tasks) {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2">
                        <span><b>@task.Name</b></span>
                    </div>
                    <div class="col-2">
                        <span><b>@task.AverageTime</b></span>
                    </div>
                    <div class="col-5">
                        <span>@task.UserName</span>
                    </div>
                    <div class="col-1">
                        @Html.ActionLink("Show", "Show", "Task", new { id = task.Id }, new { @class = "btn btn-primary", @role = "button" })
                    </div>
                    <div class="col-1">
                        @if (User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value == task.UserId) {
                            @Html.ActionLink("Edit", "Edit", "Task", new { id = task.Id }, new { @class = "btn btn-primary", @role = "button" })
                        }
                        </div>
                    <div class="col-1">
                        @if (User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value == task.UserId) {
                            @using (Html.BeginForm("Delete", "Task", FormMethod.Post)) {
                                <input type="hidden" name="id" value=@task.Id />
                                <button class="btn btn-link text-danger" type="submit" onclick="showConfirmDialog(event)">Delete</button>
                            }
                        }
                    </div>
                </div>
            </li>
        }
    </ul>

    <br />

    @if (Model.Tasks.ToList().Count > 0) {
        <div class="text-right">
            @Html.ActionLink("Add", "Add", "Task", null, new { @class = "btn btn-primary", @role = "button" })
        </div>
    } else {
        <div class="text-center">
            @Html.ActionLink("Add", "Add", "Task", null, new { @class = "btn btn-primary", @role = "button" })
        </div>
    }
</div>